@import './fullcalendar/daygrid.css';
@import './fullcalendar/timegrid.css'; /* Si tienes este archivo */
@import url('https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.css');
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';
@import '~@fullcalendar/list/main.css';


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  background-color: #f8f9fa;
  color: #343a40;
  margin: 0;
  padding: 0;
}
